# extensionless files
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

.DS_Store
*.exe
*.run
*.command
.vscode/launch.json
*.bas-bak
*.bi-bak
*.bm-bak
*.cmp-out
*.bas-backup

include/InForm-PE
include/QB64_GJ_LIB