# extensionless files
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

.DS_Store
*.exe
*.run
*.command
.vscode/launch.json
*.bas-bak
*.bi-bak
*.bm-bak
*.cmp-out
*.bas-backup
**.venv
include/InForm-PE
include/QB64_GJ_LIB
# QB64PE execution output
qb64pe-screenshots/
qb64pe-logs/
*.exe
*.dmg
# QB64PE temporary files
internal/temp/
internal/c/parts/core/temp/

# External resource files (user-specific external files)
resources/presets/external-*
resources/images/external-*
resources/palettes/external-*
resources/patterns/external-*
